{% extends 'student/layout.html' %}
{% block xx %}
    <div class="lead text-center login-form">
        <h1>欢迎来到六六学生管理系统</h1>
    </div>
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>学院</th>
            <th>专业</th>
            <th>操作</th>
        </tr>
        <tbody>
        {% for item in stu_info %}
            <tr>
                <td>{{ item.stu_id }}</td>
                <td>{{ item.stu_name }}</td>
                <td>{{ item.stu_faculty }}</td>
                <td>{{ item.stu_major }}</td>
                <td>
                    <a href="/student/update/?stu_id={{ item.stu_id }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    |
                    <a href="/student/delete/?stu_id={{ item.stu_id }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}